body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.margin{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.my-mission-margin{
    margin-top: 00px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: ;
}
.h1-modify{
    font-size: 50px;
    font-weight: 700;
}
.h2-modify{
    font-size: 40px;
    font-weight: 800;
}

.h3-modify{
    font-size: 25px;
    font-weight: 600;
}
.tomato-color{
    color: tomato;
}
.h1-border{
    border-left: 4px solid orangered;
    padding-left: 10px;
}
.button-link{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(orange, orangered);
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
}

.flex{
    display: flex;
}
.half-width{
    width: 50%;
}
.minus-margin{
    margin-top: -20px;
}
.box-padding{
    padding: 20px;
}
.my-mission-box{
    border-radius: 20px;
    width: 30%;
    margin: 10px;
}
#foot-mod{
    background-color: rgb(29, 28, 28);
    text-align: center;
    color: rgb(216, 215, 215);
    height: 150px;
}
#foot-p{
    font-family: Comic sans ms;
    font-size: 25px;
    font-weight: 600;
}